<h2 class='mt-3 mb-3'><%= t('show_course') %></h2>

<table class='table'>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.course.id') %></th>
      <th><%= @course.id %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= t('activerecord.attributes.course.subject') %></td>
      <td><%= @course.subject %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.course.category') %></td>
      <td><%= t("course_category.#{@course.category}") %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.course.status') %></td>
      <td><%= t("course_status.#{@course.status}") %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.course.valid_day') %></td>
      <td><%= t('label_day', day: @course.valid_day) %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.course.url') %></td>
      <td><%= @course.url %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.course.currency') %></td>
      <td><%= t("course_currency.#{@course.currency}") %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.course.price') %></td>
      <td><%= @course.price.to_f %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.course.description') %></td>
      <td class='text-wrap'>
        <p><%= @course.description %></p>
      </td>
    </tr>
  </tbody>
</table>

<div class='d-flex justify-content-end'>
  <div>
    <%= link_to t('label_edit'),
                edit_admin_course_path(@course),
                class: 'btn btn-success' %>
  </div>

  <div class='ms-3'>
    <%= link_to t('label_delete'),
                admin_course_path(@course),
                method: :delete,
                data: { confirm: t('admin.courses.destroy.confirm') },
                class: 'btn btn-danger' %>
  </div>

  <div class='ms-3'>
    <%= link_to t('label_back'), :back, class: 'btn btn-light' %>
  </div>
</div>
